# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local
.env
# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# Remove the secret from the .env file
vim .env
# Edit the file and remove the secret

# Add the changes to the staging area
git add .env

# Amend the previous commit (if the secret was added in the latest commit)
git commit --amend

# If the secret is in multiple commits, use the interactive rebase to remove it from the history
git rebase -i HEAD~n  # replace 'n' with the number of commits to go back

# In the interactive rebase, mark the commits with the secret as 'edit'
# For each commit, remove the secret and use 'git commit --amend' to save the changes

# After editing the commits, force push the changes
git push origin master --force